a {
	padding: 15px;
}
.my_section{
	float: left;
	border: 1px solid black;
	width: 1600px;
	height: 900px;
}
.right_aside{
	float: left;
	/* border: 1px solid black; */
	padding-right: 10px;
	width: 150px;
	background-color: white;
}